/* line 1, ../sass/_base.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_base.scss */
html {
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
}

/* line 11, ../sass/_base.scss */
html,
input[type=text] {
  font-family: 'Open Sans', sans-serif;
}

/* line 15, ../sass/_base.scss */
input[type=text] {
  font-size: 1em;
  line-height: 1;
  margin: 0;
}

/* line 1, ../sass/_layout.scss */
.container {
  max-width: 47rem;
  width: 100%;
  margin: 0 auto;
}

/* line 1, ../sass/modules/_tabs.scss */
.tabs-container {
  margin: 0 2em;
}

/* line 4, ../sass/modules/_tabs.scss */
.tabs-container.tabs-background {
  margin: 0;
  padding: 0 2em;
}

/* line 9, ../sass/modules/_tabs.scss */
.tabs-container ul {
  list-style-type: none;
  margin: 0 0 -0.65em;
  padding: 0;
}

/* line 16, ../sass/modules/_tabs.scss */
.tabs-container ul:before,
.tabs-container ul:after {
  content: " ";
  display: table;
}

/* line 20, ../sass/modules/_tabs.scss */
.tabs-container ul:after {
  clear: both;
}

/* line 24, ../sass/modules/_tabs.scss */
.tab {
  width: 33.333%;
  float: left;
  padding: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.25em;
  display: block;
  position: relative;
  padding: 1.5em 2em 1em 1em;
  margin: 0;
}

/* line 37, ../sass/modules/_tabs.scss */
.tab::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0.5em;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px 10px 0 0;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom left;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

/* line 52, ../sass/modules/_tabs.scss */
.tab.tab-current::before {
  box-shadow: none;
}

/* line 1, ../sass/modules/_skills.scss */
.skill-tree {
  display: none;
  padding: 1em;
  border-top: none;
}

/* line 7, ../sass/modules/_skills.scss */
.skill-tree.current-tree {
  display: block;
}

/* line 12, ../sass/modules/_skills.scss */
.skill-row:before,
.skill-row:after {
  content: " ";
  display: table;
}

/* line 16, ../sass/modules/_skills.scss */
.skill-row:after {
  clear: both;
}

/* line 20, ../sass/modules/_skills.scss */
.skill-box {
  width: 33.333%;
  display: block;
  float: left;
  position: relative;
  padding: 1em;
  box-sizing: border-box;
}

/* line 29, ../sass/modules/_skills.scss */
.skill-box:last-child {
  padding-right: 1em;
}

/* line 33, ../sass/modules/_skills.scss */
.third-row .skill-box {
  float: none;
  margin: 0 auto;
}

/* line 38, ../sass/modules/_skills.scss */
.skill-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
}

/* line 45, ../sass/modules/_skills.scss */
.skill-inner {
  margin: 0.5em 0;
  position: relative;
}

/* line 50, ../sass/modules/_skills.scss */
.skill-icon {
  display: inline-block;
  vertical-align: middle;
  width: 66px;
  height: 66px;
}

/* line 57, ../sass/modules/_skills.scss */
.skill-button {
  position: absolute;
  right: 0;
  margin: 0;
  width: 40px;
  height: 33px;
  border: none;
  outline: none;
  font-size: 1.2em;
  display: inline-block;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* line 71, ../sass/modules/_skills.scss */
.skill-plus {
  top: 0;
}

/* line 74, ../sass/modules/_skills.scss */
.skill-minus {
  bottom: 0;
}

/* line 79, ../sass/modules/_skills.scss */
.skill-level-box,
.skill-level-bar {
  height: 16px;
}

/* line 83, ../sass/modules/_skills.scss */
.skill-level-box {
  width: 100%;
  position: relative;
}

/* line 88, ../sass/modules/_skills.scss */
.skill-level-bar {
  width: 0%;
  transition: width 0.1s ease;
}

/* line 93, ../sass/modules/_skills.scss */
.skill-tier {
  height: 100%;
  width: 33.333%;
  position: absolute;
  bottom: 0;
}

/* line 100, ../sass/modules/_skills.scss */
.skill-tier1 {
  left: 0;
}

/* line 104, ../sass/modules/_skills.scss */
.skill-tier2 {
  left: 33.333%;
}

/* line 108, ../sass/modules/_skills.scss */
.skill-tier3 {
  left: 66.666%;
}

/* line 113, ../sass/modules/_skills.scss */
.skill-tier2,
.skill-tier3 {
  border-left: solid 1px;
}

/* line 1, ../sass/modules/_linker.scss */
.linker {
  padding: 1em 2em 2em 2em;
  border-top: dashed 1px;
}

/* line 6, ../sass/modules/_linker.scss */
.linker .tab {
  z-index: 1;
}

/* line 11, ../sass/modules/_linker.scss */
.linker input[type=text],
.linker label {
  border: none;
  outline: none;
  display: block;
  box-sizing: border-box;
}

/* line 17, ../sass/modules/_linker.scss */
.linker input[type=text] {
  width: 100%;
  background: none;
}

/* line 22, ../sass/modules/_linker.scss */
.linker label {
  font-size: 1.25rem;
  padding: 0.5em 0;
}

/*****************************/
/* Colors */
/*****************************/
/* line 11, ../sass/_theme.scss */
body {
  background-color: #eae7ec;
}

/*****************************/
/* Skills */
/*****************************/
/* line 19, ../sass/_theme.scss */
.skill-tree {
  background: white;
}

/* line 22, ../sass/_theme.scss */
.skill-icon {
  background-color: #333333;
}

/* line 26, ../sass/_theme.scss */
.skill-button,
.skill-level-bar {
  background-color: #ff6666;
  color: #FFF;
}

/* line 31, ../sass/_theme.scss */
.skill-button:hover {
  background-color: #333333;
}

/* line 35, ../sass/_theme.scss */
.skill-level-box {
  background-color: #c8c8c8;
}

/* line 39, ../sass/_theme.scss */
.skill-tier2,
.skill-tier3 {
  border-color: white;
}

/*****************************/
/* Tabs */
/*****************************/
/* line 46, ../sass/_theme.scss */
.tab {
  color: white;
}

/* line 49, ../sass/_theme.scss */
.tab::before {
  background-color: #ff6666;
}

/* line 52, ../sass/_theme.scss */
.tab:hover::before {
  background-color: #333333;
}

/* line 56, ../sass/_theme.scss */
.tab.tab-current {
  color: #333333;
}

/* line 59, ../sass/_theme.scss */
.tab.tab-current::before {
  background-color: white;
}

/*****************************/
/* Linker */
/*****************************/
/* line 67, ../sass/_theme.scss */
.linker {
  background-color: white;
  border-color: #eae7ec;
}
