/* line 1, ../sass/_base.scss */
html, body {
  margin: 0;
  padding: 0; }

/* line 6, ../sass/_base.scss */
html {
  @import url(http://fonts.googleapis.com/css?family=Open+Sans); }

/* line 11, ../sass/_base.scss */
html,
input[type=text] {
  font-family: 'Open Sans', sans-serif; }

/* line 15, ../sass/_base.scss */
input[type=text] {
  font-size: 1em;
  line-height: 1;
  margin: 0; }

/* line 1, ../sass/_layout.scss */
.container {
  max-width: 47rem;
  width: 100%;
  margin: 0 auto; }

/* line 6, ../sass/_layout.scss */
.extend {
  padding: 1em 2em;
  border-top: dotted 1px; }

/* line 10, ../sass/_layout.scss */
.extend-title {
  font-size: 1.25rem;
  margin: 0;
  padding: 0 0 0.5em 0;
  font-weight: normal; }

/* line 16, ../sass/_layout.scss */
.extend:last-child {
  margin-bottom: 3em; }

/* line 19, ../sass/_layout.scss */
.note {
  text-align: center; }

/* line 22, ../sass/_layout.scss */
.note h1 {
  margin: 0.1125em; }

/* line 25, ../sass/_layout.scss */
.note p {
  margin: 1em; }

/* line 1, ../sass/modules/_tabs.scss */
.tabs-container {
  margin: 0 2em; }

/* line 4, ../sass/modules/_tabs.scss */
.tabs-container.tabs-background {
  margin: 0;
  padding: 0 2em; }

/* line 9, ../sass/modules/_tabs.scss */
.tabs-container ul {
  list-style-type: none;
  margin: 0 0 -0.65em;
  padding: 0; }

/* line 16, ../sass/modules/_tabs.scss */
.tabs-container ul:before,
.tabs-container ul:after {
  content: " ";
  display: table; }

/* line 20, ../sass/modules/_tabs.scss */
.tabs-container ul:after {
  clear: both; }

/* line 24, ../sass/modules/_tabs.scss */
.tab {
  width: 33.333%;
  float: left;
  padding: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.25em;
  display: block;
  position: relative;
  padding: 1.5em 2em 1em 1em;
  margin: 0; }

/* line 37, ../sass/modules/_tabs.scss */
.tab::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0.5em;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px 10px 0 0;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom left;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease; }

/* line 52, ../sass/modules/_tabs.scss */
.tab.current-tab::before {
  box-shadow: none; }

/* line 1, ../sass/modules/_skills.scss */
.skill-tree {
  display: none;
  padding: 1em;
  border-top: none; }

/* line 7, ../sass/modules/_skills.scss */
.skill-tree.current-tree {
  display: block; }

/* line 12, ../sass/modules/_skills.scss */
.skill-row:before,
.skill-row:after {
  content: " ";
  display: table; }

/* line 16, ../sass/modules/_skills.scss */
.skill-row:after {
  clear: both; }

/* line 20, ../sass/modules/_skills.scss */
.skill-box {
  width: 33.333%;
  display: block;
  float: left;
  position: relative;
  padding: 1em;
  box-sizing: border-box; }

/* line 29, ../sass/modules/_skills.scss */
.skill-box:last-child {
  padding-right: 1em; }

/* line 33, ../sass/modules/_skills.scss */
.third-row .skill-box {
  float: none;
  margin: 0 auto; }

/* line 38, ../sass/modules/_skills.scss */
.skill-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center; }

/* line 45, ../sass/modules/_skills.scss */
.skill-inner {
  margin: 0.5em 0;
  position: relative; }

/* line 50, ../sass/modules/_skills.scss */
.skill-icon {
  display: inline-block;
  vertical-align: middle;
  width: 66px;
  height: 66px;
  background-image: url("../img/skills.png");
  background-repeat: no-repeat; }

/* line 60, ../sass/modules/_skills.scss */
.skill-buttons {
  position: absolute;
  left: 70px;
  right: 0;
  bottom: 0;
  height: 31px; }

/* line 68, ../sass/modules/_skills.scss */
.skill-button {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 33.333%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  display: inline-block;
  transition: background-color 0.2s ease;
  cursor: pointer; }

/* line 82, ../sass/modules/_skills.scss */
.skill-plus {
  left: 0; }

/* line 86, ../sass/modules/_skills.scss */
.skill-minus {
  left: 33.333%;
  border-style: none dotted;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15); }

/* line 93, ../sass/modules/_skills.scss */
.skill-clear {
  left: 66.666%; }

/* line 98, ../sass/modules/_skills.scss */
.skill-level-box,
.skill-level-bar {
  height: 31px; }

/* line 102, ../sass/modules/_skills.scss */
.skill-level-box {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0; }

/* line 109, ../sass/modules/_skills.scss */
.skill-level-bar {
  width: 0%;
  transition: width 0.3s ease; }

/* line 114, ../sass/modules/_skills.scss */
.skill-level-number {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  position: absolute;
  font-weight: bold;
  line-height: 31px; }

/* line 123, ../sass/modules/_skills.scss */
.skill-tier {
  height: 33.333%;
  width: 33.333%;
  position: absolute;
  top: 0; }

/* line 130, ../sass/modules/_skills.scss */
.skill-tier1 {
  left: 0; }

/* line 134, ../sass/modules/_skills.scss */
.skill-tier2 {
  left: 33.333%; }

/* line 138, ../sass/modules/_skills.scss */
.skill-tier3 {
  left: 66.666%; }

/* line 143, ../sass/modules/_skills.scss */
.skill-tier2,
.skill-tier3 {
  border-left: solid 1px; }

/* line 2, ../sass/modules/_linker.scss */
.linker input[type=text],
.linker label {
  border: none;
  outline: none;
  display: block;
  box-sizing: border-box; }

/* line 8, ../sass/modules/_linker.scss */
.linker input[type=text] {
  width: 100%;
  background: none; }

/* line 1, ../sass/modules/_class.scss */
.class-selector {
  display: table;
  margin: 0 auto; }

/* line 5, ../sass/modules/_class.scss */
.class {
  background-image: url("../img/classes.png");
  background-repeat: no-repeat;
  width: 118px;
  height: 118px;
  display: inline-block;
  border-radius: 64px;
  margin: 2em 1em;
  border: solid 5px;
  box-shadow: inset 0 0 10px #333;
  transition: border-color 0.2s ease;
  position: relative; }

/* line 18, ../sass/modules/_class.scss */
.berserker {
  background-position: -5px -5px; }

/* line 21, ../sass/modules/_class.scss */
.embermage {
  background-position: -133px -5px; }

/* line 24, ../sass/modules/_class.scss */
.engineer {
  background-position: -261px -5px; }

/* line 27, ../sass/modules/_class.scss */
.outlander {
  background-position: -389px -5px; }

/* line 1, ../sass/modules/_loader.scss */
.loader {
  height: 0.25em;
  transition: width 0.2s ease, opacity 1s ease;
  width: 0;
  opacity: 0; }

/* line 1, ../sass/modules/_points.scss */
.points-box {
  width: 100%;
  height: 32px;
  position: relative; }

/* line 6, ../sass/modules/_points.scss */
.points-bar {
  float: left;
  height: 100%;
  transition: width 0.2s ease; }

/*****************************/
/* Colors */
/*****************************/
/* line 10, ../sass/_theme.scss */
body {
  background-color: #eae9ea; }

/*****************************/
/* Skills */
/*****************************/
/* line 18, ../sass/_theme.scss */
.skill-tree {
  background: white; }

/* line 21, ../sass/_theme.scss */
.skill-icon {
  background-color: #333333; }

/* line 25, ../sass/_theme.scss */
.skill-button {
  background-color: #eae9ea; }

/* line 29, ../sass/_theme.scss */
.skill-level-bar {
  background-color: #ff6666;
  color: white; }

/* line 33, ../sass/_theme.scss */
.skill-button:hover {
  background-color: #333333;
  color: white; }

/* line 38, ../sass/_theme.scss */
.skill-level-box {
  background-color: #eae9ea; }

/* line 42, ../sass/_theme.scss */
.skill-level-number {
  color: #333;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15); }

/* line 48, ../sass/_theme.scss */
.skill-tier2,
.skill-tier3 {
  border-color: white; }

/*****************************/
/* Points */
/*****************************/
/* line 56, ../sass/_theme.scss */
.points-box {
  background-color: #eae9ea; }

/* line 59, ../sass/_theme.scss */
.points-bar-0 {
  background-color: #ff8800; }

/* line 62, ../sass/_theme.scss */
.points-bar-1 {
  background-color: #99cc01; }

/* line 65, ../sass/_theme.scss */
.points-bar-2 {
  background-color: #33b5e6; }

/*****************************/
/* Tabs */
/*****************************/
/* line 72, ../sass/_theme.scss */
.tab {
  color: white; }

/* line 75, ../sass/_theme.scss */
.tab::before {
  background-color: #ff6666; }

/* line 78, ../sass/_theme.scss */
.tab:hover::before {
  background-color: #333333; }

/* line 82, ../sass/_theme.scss */
.tab.current-tab {
  color: #333333; }

/* line 85, ../sass/_theme.scss */
.tab.current-tab::before {
  background-color: white; }

/*****************************/
/* Extend */
/*****************************/
/* line 93, ../sass/_theme.scss */
.extend {
  background-color: white;
  border-color: #eae9ea; }

/*****************************/
/* Class */
/*****************************/
/* line 102, ../sass/_theme.scss */
.class {
  border-color: white; }

/* line 107, ../sass/_theme.scss */
.class:hover,
.class.class-selected {
  border-color: #ff6666; }

/*****************************/
/* Loader */
/*****************************/
/* line 115, ../sass/_theme.scss */
#loader {
  background-color: #ff6666; }

/*****************************/
/* Note */
/*****************************/
/* line 123, ../sass/_theme.scss */
.note a {
  color: #ff6666; }

/* line 126, ../sass/_theme.scss */
.note a:hover {
  color: #333333; }
