/* line 1, ../sass/_base.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/_base.scss */
html {
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
}

/* line 10, ../sass/_base.scss */
html {
  font-family: 'Open Sans', sans-serif;
}

/* line 14, ../sass/_base.scss */
textarea {
  margin: 0;
  width: 100%;
  resize: vertical;
}

/* line 1, ../sass/_layout.scss */
.container {
  max-width: 47rem;
  width: 100%;
  margin: 0 auto;
}

/* line 6, ../sass/_layout.scss */
.extend {
  padding: 1em 2em;
  border-top: dotted 1px;
}

/* line 10, ../sass/_layout.scss */
.extend-title {
  font-size: 1.25rem;
  margin: 0;
  padding: 0 0 0.5em 0;
  font-weight: normal;
}

/* line 16, ../sass/_layout.scss */
.extend:last-child {
  margin-bottom: 3em;
}

/* line 19, ../sass/_layout.scss */
.note {
  text-align: center;
}

/* line 22, ../sass/_layout.scss */
.note h1 {
  margin: 0.1125em;
}

/* line 25, ../sass/_layout.scss */
.note p {
  margin: 1em;
}

/* line 1, ../sass/modules/_tabs.scss */
.tabs {
  width: 100%;
}

/* line 4, ../sass/modules/_tabs.scss */
.tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/modules/_tabs.scss */
.tabs ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../sass/modules/_tabs.scss */
.tabs li {
  display: block;
  width: 33.333%;
  float: left;
}

/* line 19, ../sass/modules/_tabs.scss */
.tab {
  padding: 0.75em;
  display: block;
  font-size: 1.25em;
  text-decoration: none;
  text-align: center;
  border-top: solid 0.25em;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* line 1, ../sass/modules/_skills.scss */
.trees {
  position: relative;
}

/* line 4, ../sass/modules/_skills.scss */
.tree {
  display: none;
  padding: 0 1.5em 1.5em 1.5em;
  border-top: none;
}

/* line 10, ../sass/modules/_skills.scss */
.tree.current-tree {
  display: block;
}

/* line 14, ../sass/modules/_skills.scss */
.skill-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../sass/modules/_skills.scss */
.skill {
  width: 31%;
  display: block;
  float: left;
  position: relative;
  margin: 4% 3.5% 4% 0;
}

/* line 27, ../sass/modules/_skills.scss */
.skill:last-child {
  margin-right: 0;
}

/* line 31, ../sass/modules/_skills.scss */
.third-row .skill {
  float: none;
  margin: 4% auto;
}

/* line 36, ../sass/modules/_skills.scss */
.skill-title {
  margin: 0;
  font-size: 1.175em;
  font-weight: normal;
  text-align: center;
}

/* line 43, ../sass/modules/_skills.scss */
.skill-inner {
  margin: 0.5em 0 0 0;
  position: relative;
}

/* line 48, ../sass/modules/_skills.scss */
.skill-icon {
  display: inline-block;
  vertical-align: middle;
  width: 66px;
  height: 66px;
  background-image: url("../img/skills.jpg");
  background-repeat: no-repeat;
}

/* line 58, ../sass/modules/_skills.scss */
.skill-buttons {
  position: absolute;
  left: 70px;
  right: 0;
  bottom: 0;
  height: 31px;
}

/* line 66, ../sass/modules/_skills.scss */
.skill-button {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 33.333%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  display: inline-block;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* line 80, ../sass/modules/_skills.scss */
.skill-plus {
  left: 66.666%;
}

/* line 84, ../sass/modules/_skills.scss */
.skill-minus {
  left: 33.333%;
  border-style: none dotted;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
}

/* line 91, ../sass/modules/_skills.scss */
.skill-clear {
  left: 0;
}

/* line 96, ../sass/modules/_skills.scss */
.skill-level-box,
.skill-level-bar {
  height: 31px;
}

/* line 100, ../sass/modules/_skills.scss */
.skill-level-box {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
}

/* line 107, ../sass/modules/_skills.scss */
.skill-level-bar {
  width: 0%;
  transition: width 0.2s ease;
}

/* line 112, ../sass/modules/_skills.scss */
.skill-level-number {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  position: absolute;
  font-weight: bold;
  line-height: 31px;
}

/* line 121, ../sass/modules/_skills.scss */
.skill-tier {
  height: 33.333%;
  width: 33.333%;
  position: absolute;
  top: 0;
}

/* line 128, ../sass/modules/_skills.scss */
.skill-tier1 {
  left: 0;
}

/* line 132, ../sass/modules/_skills.scss */
.skill-tier2 {
  left: 33.333%;
}

/* line 136, ../sass/modules/_skills.scss */
.skill-tier3 {
  left: 66.666%;
}

/* line 141, ../sass/modules/_skills.scss */
.skill-tier2,
.skill-tier3 {
  border-left: solid 1px;
}

/* line 2, ../sass/modules/_linker.scss */
.linker input[type=text],
.linker label {
  border: none;
  outline: none;
  display: block;
  box-sizing: border-box;
}

/* line 8, ../sass/modules/_linker.scss */
.linker input[type=text] {
  width: 100%;
  background: none;
}

/* line 1, ../sass/modules/_class.scss */
.class-selector {
  display: table;
  margin: 0 auto;
}

/* line 5, ../sass/modules/_class.scss */
.class {
  background-image: url("../img/classes.png");
  background-repeat: no-repeat;
  width: 118px;
  height: 118px;
  display: inline-block;
  border-radius: 64px;
  margin: 2em 1em;
  border: solid 5px;
  box-shadow: inset 0 0 10px #333;
  transition: border-color 0.2s ease;
  position: relative;
}

/* line 18, ../sass/modules/_class.scss */
.berserker {
  background-position: -5px -5px;
}

/* line 21, ../sass/modules/_class.scss */
.embermage {
  background-position: -133px -5px;
}

/* line 24, ../sass/modules/_class.scss */
.engineer {
  background-position: -261px -5px;
}

/* line 27, ../sass/modules/_class.scss */
.outlander {
  background-position: -389px -5px;
}

/* line 1, ../sass/modules/_loader.scss */
.loader {
  height: 0.25em;
  transition: width 0.2s ease, opacity 1s ease;
  width: 0;
  opacity: 0;
}

/* line 1, ../sass/modules/_points.scss */
.points-box {
  width: 100%;
  height: 32px;
  position: relative;
}

/* line 6, ../sass/modules/_points.scss */
.points-bar {
  float: left;
  height: 100%;
  transition: width 0.2s ease;
}

/* line 1, ../sass/modules/_description.scss */
.descriptor {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 33.33%;
  padding: 1em;
  box-sizing: border-box;
  z-index: 1000;
  display: none;
  font-size: 0.97em;
}

/* line 13, ../sass/modules/_description.scss */
.descriptor h1 {
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
}

/* line 18, ../sass/modules/_description.scss */
.descriptor h2 {
  font-size: 1.05em;
  margin: 0.5em 0 0 0;
}

/* line 24, ../sass/modules/_description.scss */
.descriptor.left,
.descriptor.right {
  display: block;
}

/* line 28, ../sass/modules/_description.scss */
.descriptor.left {
  left: 0;
}

/* line 32, ../sass/modules/_description.scss */
.descriptor.right {
  right: 0;
}

/*****************************/
/* Colors */
/*****************************/
/* line 12, ../sass/_theme.scss */
body {
  background-color: #eae9ea;
}

/*****************************/
/* Skills */
/*****************************/
/* line 20, ../sass/_theme.scss */
.tree {
  background: white;
}

/* line 23, ../sass/_theme.scss */
.skill-icon {
  background-color: #333333;
}

/* line 27, ../sass/_theme.scss */
.skill-button {
  background-color: #eae9ea;
}

/* line 31, ../sass/_theme.scss */
.skill-level-bar {
  color: white;
}

/* line 34, ../sass/_theme.scss */
.tree-0-theme .skill-level-bar {
  background-color: #fe4445;
}

/* line 37, ../sass/_theme.scss */
.tree-1-theme .skill-level-bar {
  background-color: #0099cb;
}

/* line 40, ../sass/_theme.scss */
.tree-2-theme .skill-level-bar {
  background-color: #c02cca;
}

/* line 43, ../sass/_theme.scss */
.skill-button:hover {
  background-color: #333333;
  color: white;
}

/* line 48, ../sass/_theme.scss */
.skill-level-box {
  background-color: #eae9ea;
}

/* line 52, ../sass/_theme.scss */
.skill-level-number {
  color: #000;
  color: rgba(0, 0, 0, 0.85);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}

/* line 58, ../sass/_theme.scss */
.skill-tier2,
.skill-tier3 {
  border-color: white;
}

/*****************************/
/* Description */
/*****************************/
/* line 66, ../sass/_theme.scss */
.descriptor {
  color: #f2f2f2;
  background-color: #333333;
}

/* Tiers */
/* line 74, ../sass/_theme.scss */
.tier-description.tier-obtained,
.tier-title.tier-obtained {
  color: #FFD700;
}

/*****************************/
/* Points */
/*****************************/
/* line 82, ../sass/_theme.scss */
.points-box {
  background-color: #eae9ea;
}

/* line 85, ../sass/_theme.scss */
.points-bar.tree-0-theme {
  background-color: #fe4445;
}

/* line 88, ../sass/_theme.scss */
.points-bar.tree-1-theme {
  background-color: #0099cb;
}

/* line 91, ../sass/_theme.scss */
.points-bar.tree-2-theme {
  background-color: #c02cca;
}

/*****************************/
/* Tabs */
/*****************************/
/* line 99, ../sass/_theme.scss */
.tab {
  color: white;
}

/* line 103, ../sass/_theme.scss */
.tab {
  background-color: #ff6666;
  border-color: #ff6666;
}

/* line 108, ../sass/_theme.scss */
.tab.tree-0-theme {
  border-color: #fe4445;
  background-color: #fe4445;
}

/* line 112, ../sass/_theme.scss */
.tab.tree-1-theme {
  border-color: #0099cb;
  background-color: #0099cb;
}

/* line 116, ../sass/_theme.scss */
.tab.tree-2-theme {
  border-color: #c02cca;
  background-color: #c02cca;
}

/* line 122, ../sass/_theme.scss */
.tab:hover,
.tab:focus {
  background-color: #333333;
}

/* line 126, ../sass/_theme.scss */
.tab.current-tab {
  color: #333333;
}

/* line 130, ../sass/_theme.scss */
.tab.current-tab {
  background-color: white;
}

/*****************************/
/* Extend */
/*****************************/
/* line 139, ../sass/_theme.scss */
.extend {
  background-color: white;
  border-color: #eae9ea;
}

/*****************************/
/* Class */
/*****************************/
/* line 148, ../sass/_theme.scss */
.class {
  border-color: white;
}

/* line 153, ../sass/_theme.scss */
.class:hover,
.class.class-selected {
  border-color: #ff6666;
}

/*****************************/
/* Loader */
/*****************************/
/* line 161, ../sass/_theme.scss */
#loader {
  background-color: #ff6666;
}

/*****************************/
/* Note */
/*****************************/
/* line 169, ../sass/_theme.scss */
.note a {
  color: #ff6666;
}

/* line 172, ../sass/_theme.scss */
.note a:hover {
  color: #333333;
}
