.container {
  max-width: 47rem;
  width: 100%;
  margin: 0 auto;
}
.extend {
  padding: 1em 2em;
  border-top: dotted 1px;
}
.extend-title{
  font-size: 1.25rem;
  margin: 0;
  padding: 0 0 0.5em 0;
  font-weight: normal;
}


.extend:last-child {
  margin-bottom: 3em;
}
