/*****************************/
/* Colors */
/*****************************/

$accent-color: #F66;
$dark-color: #333;
$light-color: #FFF;
$bg-color: #eae9ea;

body {
  background-color: $bg-color;
}

/*****************************/
/* Skills */
/*****************************/

.skill-tree {
  background: $light-color;
}
.skill-icon {
  background-color: $dark-color;
}

.skill-button{
  background-color: $bg-color;
}

.skill-level-bar {
  background-color: $accent-color;
  color: $light-color;
}
.skill-button:hover {
  background-color: $dark-color;
  color: $light-color;
}

.skill-level-box {
  background-color: shade($bg-color, 35%);
}

.skill-level-number {
  color: $light-color;
}
.skill-tier2,
.skill-tier3 {
  border-color: $light-color;
}

/*****************************/
/* Points */
/*****************************/

.points-box{
  background-color: $bg-color;
}
.points-bar-0{
  background-color: #FE4445;
}
.points-bar-1{
  background-color: #99CC01;
}
.points-bar-2{
  background-color: #33B5E6;
}

/*****************************/
/* Tabs */
/*****************************/
.tab {
  color: $light-color;
}
.tab::before {
  background-color: $accent-color;
}
.tab:hover::before {
  background-color: $dark-color;
}

.tab.current-tab {
  color: $dark-color;
}
.tab.current-tab::before {
  background-color: $light-color;
}

/*****************************/
/* Extend */
/*****************************/

.extend {
  background-color: $light-color;
  border-color: $bg-color;
}

/*****************************/
/* Class */
/*****************************/

.class {
  border-color: $light-color;
}

.class:hover,
.class.class-selected {
  border-color: $accent-color;
}

/*****************************/
/* Loader */
/*****************************/

#loader {
  background-color: $accent-color;
}
