@import 'variables.scss';
@import 'mixins.scss';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

html {
	font-family: "Open Sans", sans-serif;
	line-height: 1;
}

body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
}

.layout {
	position: relative;
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem;
	@include clearfix;
}

.layout__text {
	margin-top: 1rem;
	text-align: center;
}

.github-link {
	padding: 0.25rem 0.5rem;
	font-weight: 600;
	text-decoration: none;
	color: #777;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.85rem;
	&:hover {
		color: #333;
	}
}

@media (min-width: 64rem) {
	.layout__text {
		margin-top: 0;
		position: absolute;
		top: 1rem;
		right: 1rem;
		bottom: 1rem;
		width: 33.333%;
		padding-left: 1rem;
		box-sizing: border-box;
		text-align: right;
	}
	
	.github-link__text {
		font-size: 1.2rem;
	}
}