$dark: #4d4d4d;
$medium: #ccc;
$light: #f9f9f9;

$color1: #FF4444;
$color2: #33B5E5;
$color3: #AA66CC;

/* BEGIN FONTS */

@font-face {
    font-family: 'controls';
    src: url('../font/controls.eot?81223914');
    src: url('../font/controls.eot?81223914#iefix') format('embedded-opentype'),
        url('../font/controls.woff?81223914') format('woff'),
        url('../font/controls.ttf?81223914') format('truetype'),
        url('../font/controls.svg?81223914#controls') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "controls";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-plus:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e801'; } /* '' */
.icon-clear:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e803'; } /* '' */

/* END FONTS */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    color: $dark;
    background-color: $light;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.players,
.tabs,
.trees,
.skills {
    list-style: none;
    margin: 0;
    padding: 0;
}

.trees {
	position: relative;
	overflow: hidden;
}

#description {
	background-color: #f9f9f9;
	opacity: 0.95;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	transition: left 0.15s ease;
}

#description.alternate {
	top: 0;
	left: 0;
	right: 0;
	bottom: 50%;
}

.players li,
.tabs li,
.skills li {
    display: inline-block;
    vertical-align: middle;
}

.skills li,
.tabs li,
.tiers li {
    width: 33.333%;
}

.description-content,
.tiers {
	margin: 0.5rem 0 0 0;
	padding: 0;
}

.tiers li {
	text-align: left;
	display: inline-block;
	font-size: 1.2rem;
}

.players {
    display: table; // Allows easy centering
    margin: 1.5rem auto;
}

.player {
    //Size
    box-sizing: border-box;
    width: 112px;
    height: 112px;
    display: block;
    margin-right: 2rem;
    display: block;
    vertical-align: middle;
    position: relative;
    
    //Border
    border-radius: 64px;
    
    //Image
    background-image: url('../img/classes.png');
    background-position: -5px -133px;
    
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5;
    transition: margin-right 0.25s ease, opacity 0.25s ease;
}

.players li:last-child .player {
    margin-right: 0;
}

.player .name {
    color: $dark;
    font-size: 2rem;
    position: absolute;
    line-height: 1;
    top: 2.5rem;
    left: 8rem;
    opacity: 0;
    transition: all 0.25s ease !important;
    pointer-events: none;
}

.player.active .name {
    opacity: 1;
}

.player.active,
.player:hover {
    opacity: 1;
}

.player.active {
    margin-right: 15rem !important;
}

.berserker:hover,
.active.berserker {
    background-position: -5px -5px;
}

.embermage {
    background-position: -133px -133px;
}

.embermage:hover,
.active.embermage {
    background-position: -133px -5px;
}

.outlander {
    background-position: -389px -133px;
}

.outlander:hover,
.active.outlander {
    background-position: -389px -5px;
}

.engineer {
    background-position: -261px -133px;
}

.engineer:hover,
.active.engineer {
    background-position: -261px -5px;
}

.tab {
    text-align: center;
    font-size: 1.75rem;
    padding: 1rem 0;
    line-height: 2rem;
    position: relative;
    cursor: pointer;
    border-bottom: solid 2px transparent;
}

.tab,
.tab .point {
    transition: all 0.25s ease;
}

.tab.color-1.active,
.tab.color-1:hover {
    border-color: $color1;
}

.tab.color-2.active,
.tab.color-2:hover {
    border-color: $color2;
}

.tab.color-3.active,
.tab.color-3:hover {
    border-color: $color3;
}

.tab.color-1:hover,
.tab.color-1:hover .point,
.tab.active.color-1,
.tab.active.color-1 .point {
    color: $color1;
}

.tab.color-2:hover,
.tab.color-2:hover .point,
.tab.active.color-2,
.tab.active.color-2 .point {
    color: $color2;
}

.tab.color-3:hover,
.tab.color-3:hover .point,
.tab.active.color-3,
.tab.active.color-3 .point {
    color: $color3;
}

.tab .point {
    position: absolute;
    left: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $dark;
}

.tabs {
    margin: 1rem 0 0 0;
    border-bottom: solid 1px $medium;
}

// Colored circle on tabs
.tab:before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
}

.tab.color-1:before {
    background-color: $color1;
}

.tab.color-2:before {
    background-color: $color2;
}

.tab.color-3:before {
    background-color: $color3;
}

.tree {
    display: none;
    opacity: 0;
    transition: all 0.25s ease;
}

.tree.active {
    display: block;
    opacity: 1;
    padding-top: 2rem;
}

.skills li.fill {
    margin: 0 auto;
    display: block;
}

.skill {
    position: relative;
    height: 64px;
    margin: 0 0 2rem 1rem;
}

.skill-icon,
.skill-level,
.skill-name,
.skill-minus,
.skill-plus,
.skill-clear {
    position: absolute;
}

.skill-name,
.skill-level,
.description-name,
.description-content {
    font-size: 1.35rem;
    line-height: 2rem;
    left: 5rem;
}

.description-name {
	font-weight: bold;
}

#description {
	padding: 1rem;
}

.skill-name {
    top: 0;
}

.skill-level {
    bottom: 0;
}

.skill-icon {
    width: 64px;
    height: 64px;
    background-image: url('../img/skills.jpg');
    opacity: 0.3;
    transition: opacity 0.25s ease;
}

.skill-icon.active {
    opacity: 1;
}

.skill-button {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0.25rem;
    background-color: $medium;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    color: $dark;
    text-decoration: none;
    transition: all 0.25s ease;
    
    &:hover {
        background-color: $dark;
        color: $light;
        box-shadow: 0 0.25rem 0.5rem $medium;
    }
}

.skill-clear {
    left: 8rem;
}

.skill-minus {
    left: 10rem;
}

.skill-plus {
    left: 12rem;
}

.extras {
    text-align: center;
    font-size: 1.15rem;
}

.label {
    background-color: $dark;
    padding: 0.5rem 1rem;
    color: $light;
    border-radius: 0.25rem 0 0 0.25rem;
    display: table-cell;
}

.share {
    display: table;
    margin: 1rem;
}

#share-link {
    display: inline-block;
    background-color: $medium;
    padding: 0.5rem 1rem;
    border-radius: 0 0.25rem 0.25rem 0;
    display: table-cell;
    width: 100%;
}

.github {
    display: inline-block;
    text-decoration: none;
    color: $dark;
    transition: all 0.25s ease;
    vertical-align: middle;
    padding: 0.75rem 1rem;
    border-radius: 5rem;
    background-color: $medium;
    margin: 1rem 0;
}

.github:hover {
    color: $light;
    background-color: $dark;
    box-shadow: 0 0.25rem 0.5rem $medium;
}

.github .tooltip {
    display: inline-block;
    margin-left: 0.5rem;
    text-align: left;
}
