.class-selector {
  display: table;
  margin: 0 auto;
}
.class {
  background-image: url('../img/classes.png');
  background-repeat: no-repeat;
  width: 118px;
  height: 118px;
  display: inline-block;
  border-radius: 64px;
  margin: 1em;
  border: solid 5px;
  box-shadow: inset 0 0 10px #333;
  transition: border-color 0.2s ease;
  position: relative;
}
.berserker {
  background-position: -5px -5px;
}
.embermage {
  background-position: -133px -5px;
}
.engineer {
  background-position: -261px -5px;
}
.outlander {
  background-position: -389px -5px;
}
