.descriptor {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 33.33%;
  padding: 1em;
  box-sizing: border-box;
  z-index: 1000;
  display: none;
  font-size: 0.97em;
}

.descriptor h1 {
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
}

.descriptor h2 {
  font-size: 1.05em;
  margin: 0.5em 0 0 0;
}

.descriptor.left,
.descriptor.right {
  display: block;
}

.descriptor.left {
  left: 0;
}

.descriptor.right {
  right: 0;
}
