.trees {
  position: relative;
}
.skill-tree {
  display: none;
  padding: 0 1.5em 1.5em 1.5em;
  border-top: none;
}

.skill-tree.current-tree {
  display: block;
}

.skill-row:after {
  content: "";
  display: table;
  clear: both;
}
.skill-box {
  width: 31%;
  display: block;
  float: left;
  position: relative;
  margin: 4% 3.5% 4% 0;
}

.skill-box:last-child {
  margin-right: 0;
}

.third-row .skill-box {
  float: none;
  margin: 4% auto;
}

.skill-title {
  margin: 0;
  font-size: 1.175em;
  font-weight: normal;
  text-align: center;
}

.skill-inner {
  margin: 0.5em 0 0 0;
  position: relative;
}

.skill-icon {
  display: inline-block;
  vertical-align: middle;
  width: 66px;
  height: 66px;
  background-image: url("../img/skills.png");
  background-repeat: no-repeat;
}


.skill-buttons {
  position: absolute;
  left: 70px;
  right: 0;
  bottom: 0;
  height: 31px;
}

.skill-button {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 33.333%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  display: inline-block;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.skill-plus {
  left: 66.666%;
}

.skill-minus {
  left: 33.333%;
  border-style: none dotted;
  border-width: 1px;
  border-color: rgba(0,0,0,0.15);
}

.skill-clear {
  left: 0;
}

.skill-level-box,
.skill-level-bar {
  height: 31px;
}

.skill-level-box {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
}

.skill-level-bar {
  width: 0%;
  transition: width 0.3s ease;
}

.skill-level-number {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  position: absolute;
  font-weight: bold;
  line-height: 31px;
}

.skill-tier {
  height: 33.333%;
  width: 33.333%;
  position: absolute;
  top: 0;
}

.skill-tier1 {
  left: 0
}

.skill-tier2 {
  left: 33.333%;
}

.skill-tier3 {
  left: 66.666%;
}

.skill-tier2,
.skill-tier3 {
  border-left: solid 1px;
}
