.skill-tree {
  display: none;
  padding: 1em;
  border-top: none;
}

.skill-tree.current-tree {
  display: block;
}

.skill-row:before,
.skill-row:after {
    content: " ";
    display: table;
}
.skill-row:after {
    clear: both;
}

.skill-box {
  width: 33.333%;
  display: block;
  float: left;
  position: relative;
  padding: 1em;
  box-sizing: border-box;
}

.skill-box:last-child {
  padding-right: 1em;
}

.third-row .skill-box {
  float: none;
  margin: 0 auto;
}

.skill-title {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
}

.skill-inner {
  margin: 0.5em 0;
  position: relative;
}

.skill-icon {
  display: inline-block;
  vertical-align: middle;
  width: 66px;
  height: 66px;
  background-image: url("../img/skills.png");
  background-repeat: no-repeat;
}


.skill-buttons {
  position: absolute;
  left: 70px;
  right: 0;
  bottom: 0;
  height: 31px;
}

.skill-button {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 33.333%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  display: inline-block;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.skill-plus {
  left: 0;
}

.skill-minus {
  left: 33.333%;
  border-style: none dotted;
  border-width: 1px;
  border-color: rgba(0,0,0,0.15);
}

.skill-clear {
  left: 66.666%;
}

.skill-level-box,
.skill-level-bar {
  height: 31px;
}

.skill-level-box {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
}

.skill-level-bar {
  width: 0%;
  transition: width 0.3s ease;
}

.skill-level-number {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px #000;
}

.skill-tier {
  height: 33.333%;
  width: 33.333%;
  position: absolute;
  top: 0;
}

.skill-tier1 {
  left: 0
}

.skill-tier2 {
  left: 33.333%;
}

.skill-tier3 {
  left: 66.666%;
}

.skill-tier2,
.skill-tier3 {
  border-left: solid 2px;
}

.points-spent {
  text-align: center;
  font-size: 1.2em;
}
