.tabs-container {
	margin: 0 2em;
}
.tabs-container.tabs-background {
	margin: 0;
	padding: 0 2em;
}

.tabs-container ul {
	list-style-type: none;
	margin: 0 0 -0.65em;
	padding: 0;
}

.tabs-container ul:before,
.tabs-container ul:after {
	content: " ";
	display: table;
}
.tabs-container ul:after {
	clear: both;
}

.tab {
	width: 33.333%;
	float: left;
	padding: 0.5em;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 1.25em;
	display: block;
	position: relative;
	padding: 1.5em 2em 1em 1em;
	margin: 0;
}

.tab::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0.5em;
	left: 0;
	right: 0;
	z-index: -1;
	border-radius: 10px 10px 0 0;
	transform: perspective(5px) rotateX(2deg);
	transform-origin: bottom left;
	box-shadow: inset 0 -3px 3px rgba(0,0,0,0.10);
	transition: background-color 0.2s ease;
}

.tab.current-tab::before {
	box-shadow: none;
}
