.tabs {
	width: 100%;
}
.tabs ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tabs ul:after {
  content: "";
  display: table;
  clear: both;
}
.tabs li{
	display: block;
	width: 33.333%;
	float: left;
}
.tab {
	padding: 0.75em;
	display: block;
	font-size: 1.25em;
	text-decoration: none;
	text-align: center;
	border-top: solid 0.25em;
	transition: background-color 0.2s ease, border-color 0.2s ease;
}
