<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Torchlight II Calculator</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container">
		<!-- Characters -->
		<ul class="portraits">
		{% for character in characters %}
			<li class="portrait" data-character="{{ character }}">
				<img src="characters/{{ character }}/portrait.jpg" class="portrait-image {{ character }}" alt="{{ character }}" title="{{ character }}" />
				<span class="name">{{ character|capitalize }}</span>
		{% endfor %}
		</ul>
		<!-- Tabs -->
		<ul class="tabs">
		{% for i in Array(trees) %}
			<li class="tab color-{{ loop.index }} {% if loop.first %}active{% endif %}">
				<div class="indicator" title="Points spent"></div>
				<span class="tab-points" title="Points spent">0</span>
				<span class="tab-name">Tree Name</span>
			</li>
		{% endfor %}
		</ul>
		<div class="wrapper">
			<div class="description">
				<div class="description-name"></div>
				<div class="description-content"></div>
				<div class="description-tiers">
					<div class="description-tier"></div>
					<div class="description-tier"></div>
					<div class="description-tier"></div>
				</div>
			</div>
			<!-- Trees -->
			{% for i in Array(trees) %}
				<div class="tree {% if loop.first %}active{% endif %} color-{{ loop.index }}">
					{% for j in Array(skills) %}
						<div class="skill">
							<img class="skill-icon" src="tiny.gif" alt="Spell Icon" />
							<div class="skill-inner">
								<span class="skill-name">Skill Name</span>
								<input type="text" class="skill-level" value="0" maxlength="2"/>
								<div class="skill-bar">
									<div class="skill-bar-knob"></div>
									<div class="skill-bar-fill"></div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div><!-- Wrapper -->
		<!-- Share Link -->
		<div class="share">
			<div class="label">Share:</div>
			<div class="link">http://ralrom.github.io/tl2-calculator/?class=berserker&points=000000000050000000000000000000</div>
		</div>
		<div class="github"><a href="https://github.com/ralrom/tl2-calculator">View GitHub</a></div>
		<script src="calculator.js" type="text/javascript"></script>
	</div><!-- Container -->
</body>
</html>
