.portraits {
	list-style: none;
	margin: $spacing auto;
	padding: 0;
	display: table;
}

.portraits .portrait {
	display: inline-block;
	cursor: pointer;
	transition: width 0.1s ease;
}

.portrait-image {
	border-radius: 50%;
	display: inline-block;
	width: 80px;
	height: 80px;
	opacity: 0.5;
}

.portrait.active .portrait-image {
	opacity: 1;
}

.portraits .portrait-image,
.portraits .name {
	vertical-align: middle
}

.portrait {
	margin-right: $spacing;
}

.portrait .name {
	margin-left: $spacingHalf;
	font-size: $textMedium;
	width: 0;
	overflow: hidden;
	display: inline-block;
	transition: width 0.1s ease;
}

.portrait.active .name {
	width: 150px;
}

