.share {
	display: table;
	margin: $spacing 0 0 0;
}

.share .label,
.share .link {
	padding: $spacingHalf $spacing;
	display: table-cell;
	vertical-align: middle;
}

.share .label {
	background-color: #333;
	color: #eee;
	border-radius: $borderRadius 0 0 $borderRadius;
}

.share .link {
	background-color: #ccc;
	width: 100%;
	border-radius: 0 $borderRadius $borderRadius 0;
}
