@import '../variables.scss';
@import '../mixins.scss';

.share-link {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: solid 3px $light-gray;
    border-top: none;
}

.share-link__label {
    width: 3.5rem;
    padding: 0.5rem 1rem;
    background: $light-gray;
    text-transform: uppercase;
    font-weight: 600;
    color: #777;
}

.share-link__url {
    font-family: monospace;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
}

.share-link__url-wrapper {
    position: absolute;
    left: 5.5rem;
    right: 0;
    top: 0;
}